// ==============================
// Custom style
// ==============================

/* entire content of the web page */
body {


}


.page {
    max-width: 950px;
    /* adjust as needed */
    margin: 0 auto;
    display: block;
}

/* table header, table data */
th, td {
	width: auto;
        text-align: left;
}

/* Style for code blocks */
pre {
	color: #FF5733;
}

/* Style for inline code */
code {
	color: #FF5733;
}

figure {
    	margin: 0 auto 0.55em;
    	display: block;
	}

img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
}
    
 .markdown-source-view.mod-cm6 .cm-content > * {
        margin: auto auto !important;
}

